.indicator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}

.indicator-container .indicator {
  max-width: 60px;
  width: 100%;
  height: 5px;
  background-color: grey;
}

.short .indicator {
  background-color: red;
}

.easy .indicator:first-child {
  background-color: red;
}

.medium .indicator:not(:last-child) {
  background-color: yellow;
}

.strong .indicator {
  background-color: green;
}
