<section >
  <label class="password-lab">
    Password
    <input
      type="password"
      placeholder="Enter password"
      [(ngModel)]="password"
      (input)="checkPassword()"
    />
  </label>
  <div
    class="indicator-container"
    [ngClass]="{
      short: shortPassword,
      easy: easyPassword,
      medium: mediumPassword,
      strong: strongPassword
    }"
  >
    <div class="indicator"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
  </div>
</section>
